In [29]:
#Importo desde el inicio las librerías que podría utilizar
import csv
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cwd = os.getcwd()
print("Directorio: {0}".format(cwd))

Directorio: C:\Users\Nefi

In [30]:
#Abro el documento en formato csv
file = open(r'C:\Height of Male and Female by Country 2022.csv')

csvreader = csv.reader(file)

In [31]:
#Imprimir visualmente los header
header = []
header = next(csvreader)
header

['Rank',
 'Country Name',
 'Male Height in Cm',
 'Female Height in Cm',
 'Male Height in Ft',
 'Female Height in Ft']

In [32]:
#Extraer los datos a una lista
rows = []
for row in csvreader:
    rows.append(row)
print(rows[:50])

[['1', 'Netherlands', '183.78', '170.36', '6.03', '5.59'], ['2', 'Montenegro', '183.3', '169.96', '6.01', '5.58'], ['3', 'Estonia', '182.79', '168.66', '6', '5.53'], ['4', 'Bosnia and Herzegovina', '182.47', '167.47', '5.99', '5.49'], ['5', 'Iceland', '182.1', '168.91', '5.97', '5.54'], ['6', 'Denmark', '181.89', '169.47', '5.97', '5.56'], ['7', 'Czech Republic', '181.19', '167.96', '5.94', '5.51'], ['8', 'Latvia', '181.17', '168.81', '5.94', '5.54'], ['9', 'Slovakia', '181.02', '167.12', '5.94', '5.48'], ['10', 'Slovenia', '180.98', '167.2', '5.94', '5.49'], ['11', 'Ukraine', '180.98', '166.62', '5.94', '5.47'], ['12', 'Croatia', '180.76', '166.8', '5.93', '5.47'], ['13', 'Serbia', '180.74', '168.29', '5.93', '5.52'], ['14', 'Lithuania', '180.72', '167.63', '5.93', '5.5'], ['15', 'Poland', '180.69', '165.78', '5.93', '5.44'], ['16', 'Finland', '180.57', '166.48', '5.92', '5.46'], ['17', 'Norway', '180.48', '166.45', '5.92', '5.46'], ['18', 'Sweden', '180.46', '166.67', '5.92', '5.47'], ['19', 'Germany', '180.28', '166.18', '5.91', '5.45'], ['20', 'Dominica', '180.15', '166.89', '5.91', '5.48'], ['21', 'Bermuda', '179.72', '166.11', '5.9', '5.45'], ['22', 'Puerto Rico', '179.48', '163.06', '5.89', '5.35'], ['23', 'Greece', '179.26', '165.81', '5.88', '5.44'], ['24', 'Belgium', '179.09', '163.4', '5.88', '5.36'], ['25', 'Ireland', '179.04', '164.5', '5.87', '5.4'], ['26', 'Lebanon', '178.96', '163.67', '5.87', '5.37'], ['27', 'Andorra', '178.84', '165.53', '5.87', '5.43'], ['28', 'Antigua and Barbuda', '178.84', '165.72', '5.87', '5.44'], ['29', 'Australia', '178.77', '164.67', '5.87', '5.4'], ['30', 'Canada', '178.75', '164.73', '5.86', '5.4'], ['31', 'Switzerland', '178.73', '164.33', '5.86', '5.39'], ['32', 'Grenada', '178.7', '165.99', '5.86', '5.45'], ['33', 'Belarus', '178.69', '166.93', '5.86', '5.48'], ['34', 'France', '178.6', '164.49', '5.86', '5.4'], ['35', 'Austria', '178.52', '166.93', '5.86', '5.48'], ['36', 'Luxembourg', '178.46', '165.07', '5.86', '5.42'], ['37', 'Cook Islands', '178.32', '167.31', '5.85', '5.49'], ['38', 'French Polynesia', '178.32', '166.52', '5.85', '5.46'], ['39', 'United Kingdom', '178.21', '163.94', '5.85', '5.38'], ['40', 'Romania', '177.82', '164.73', '5.83', '5.4'], ['41', 'New Zealand', '177.72', '164.66', '5.83', '5.4'], ['42', 'Saint Vincent and the Grenadines', '177.49', '165.3', '5.82', '5.42'], ['43', 'Niue', '177.19', '167.03', '5.81', '5.48'], ['44', 'American Samoa', '177.09', '167.55', '5.81', '5.5'], ['45', 'Barbados', '177.03', '165.66', '5.81', '5.44'], ['46', 'Jamaica', '176.97', '164.32', '5.81', '5.39'], ['47', 'United States', '176.94', '163.31', '5.81', '5.36'], ['48', 'Tunisia', '176.85', '161.69', '5.8', '5.3'], ['49', 'Russia', '176.65', '164.52', '5.8', '5.4'], ['50', 'Hungary', '176.59', '162.55', '5.79', '5.33']]

In [33]:
#Generamos el objeto alturas con todas las filas de la lista
alturas = np.array(rows)

In [72]:
#Generar array solo de las alturas, tanto de hombres como de mujeres
alturas_hombres = alturas[:,2]
alturas_mujeres = alturas[:,3]

#Transformamos la información en números con decimales
alturas_hombres_cm = [float(numeric_string) for numeric_string in alturas_hombres]
alturas_mujeres_cm = [float(numeric_string) for numeric_string in alturas_mujeres]

In [81]:
#Calculamos la media, mínima y máxima de nuestros datos
#Hombres
print(f"Media de altura en hombres: {np.min(alturas_hombres_cm):.2f}")
print(f"Media de altura en hombres: {np.mean(alturas_hombres_cm):.2f}")
print(f"Media de altura en hombres: {np.max(alturas_hombres_cm):.2f}")

#Mujeres
print(f"Media de altura en mu: {np.mean(alturas_hombres_cm):.2f}")
print(f"Media de altura en hombres: {np.mean(alturas_hombres_cm):.2f}")
print(f"Media de altura en hombres: {np.mean(alturas_hombres_cm):.2f}")

Media de altura en hombres: 173.09

In [80]:
#Hacemos el código para encontrar el dato de cada país
filter_arr = (alturas_hombres_cm == '160.13') 
print(filter_arr)

False