In [2]:
#Se importan las librerías y se corrobora la ubicación
import csv
import os

print("Current working directory:", os.getcwd())

Current working directory: C:\Users\Nefi

In [5]:
#Se lee el archivo y se visualizan los header
df = pd.read_csv("fifa_eda.csv")

In [6]:
#Se visualizan una muestra de 20 líneas
df.head(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0

In [7]:
print(df.dtypes)

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                        float64
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
dtype: object

In [8]:
# Conversión de columnas monetarias a numéricas
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df['Wage'] = pd.to_numeric(df['Wage'], errors='coerce')
df['Release Clause'] = pd.to_numeric(df['Release Clause'], errors='coerce')

In [9]:
#Verificación de tipos de datos después de la conversión
print(df[['Value', 'Wage', 'Release Clause']].dtypes)

Value             float64
Wage              float64
Release Clause    float64
dtype: object

In [10]:
#Media, mínimo y máximo de los jugadores totales
estadisticas_generales = df[['Age', 'Overall', 'Potential', 'Value', 'Wage']].agg(['mean', 'min', 'max'])
estadisticas_generales

            Age    Overall  Potential          Value        Wage
mean  25.122206  66.238699  71.307299    2444.530214    9.731312
min   16.000000  46.000000  48.000000      10.000000    0.000000
max   45.000000  94.000000  95.000000  118500.000000  565.000000

In [11]:
#Media, mínimo y máximo de los jugadores por nacionalidad
estadisticas_pais = (
    df.groupby('Nationality')[['Age', 'Overall', 'Potential', 'Value', 'Wage']]
    .agg(['mean', 'min', 'max'])
)

estadisticas_pais

                   Age            Overall          Potential          \
                  mean min max       mean min max       mean min max
Nationality
Afghanistan  22.500000  20  26  61.000000  59  63  67.750000  64  71
Albania      24.025000  18  34  65.925000  52  81  71.700000  62  86
Algeria      27.050000  19  35  70.633333  58  85  72.983333  62  85
Andorra      28.000000  28  28  62.000000  62  62  64.000000  64  64
Angola       25.866667  19  34  67.600000  60  78  71.533333  64  82
...                ...  ..  ..        ...  ..  ..        ...  ..  ..
Uzbekistan   29.500000  29  30  67.500000  60  75  67.500000  60  75
Venezuela    24.313433  18  34  67.268657  53  81  73.149254  55  84
Wales        24.736434  17  37  64.139535  47  88  69.968992  56  88
Zambia       22.222222  18  29  65.222222  56  73  73.777778  66  83
Zimbabwe     26.846154  22  34  69.769231  64  78  72.461538  66  83

                   Value                       Wage
                    mean    min      max       mean  min    max
Nationality
Afghanistan   342.500000  220.0    450.0   1.250000  1.0    2.0
Albania      1920.250000   80.0  20000.0   7.100000  1.0   58.0
Algeria      4670.916667  160.0  40500.0  18.083333  1.0  205.0
Andorra       290.000000  290.0    290.0   1.000000  1.0    1.0
Angola       2018.333333  325.0  10000.0   7.666667  1.0   44.0
...                  ...    ...      ...        ...  ...    ...
Uzbekistan   3100.000000  200.0   6000.0   9.000000  1.0   17.0
Venezuela    2498.333333   80.0  22500.0   6.194030  0.0   42.0
Wales        1769.257812   30.0  60000.0  12.093023  0.0  355.0
Zambia       1129.444444  190.0   3500.0   3.444444  1.0    7.0
Zimbabwe     2780.769231  475.0  12000.0   6.846154  1.0   27.0

[164 rows x 15 columns]

In [12]:
#2 Jugadores ficticios agregados a la información
jugadores_ficticios = pd.DataFrame([
    {
        'ID': 999001,
        'Name': 'Jugador Ficticio 1',
        'Age': 22,
        'Nationality': 'Mexico',
        'Overall': 86,
        'Potential': 90,
        'Club': 'Club Ficticio',
        'Value': 50000,
        'Wage': 150,
        'Preferred Foot': 'Right',
        'International Reputation': 3,
        'Skill Moves': 4,
        'Position': 'CAM',
        'Joined': 2024,
        'Contract Valid Until': 2028,
        'Height': 5.9,
        'Weight': 165,
        'Release Clause': 120000
    },
    {
        'ID': 999002,
        'Name': 'Jugador Ficticio 2',
        'Age': 19,
        'Nationality': 'Argentina',
        'Overall': 84,
        'Potential': 88,
        'Club': 'Club Ficticio',
        'Value': 42000,
        'Wage': 120,
        'Preferred Foot': 'Left',
        'International Reputation': 2,
        'Skill Moves': 5,
        'Position': 'LW',
        'Joined': 2024,
        'Contract Valid Until': 2027,
        'Height': 5.7,
        'Weight': 150,
        'Release Clause': 100000
    }
])

# Agregar al DataFrame original
df = pd.concat([df, jugadores_ficticios], ignore_index=True)

# Visualizar los últimos registros
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,999001,Jugador Ficticio 1,22,Mexico,86,90,Club Ficticio,50000.0,150.0,Right,3.0,4.0,CAM,2024,2028,5.900000,165.0,120000.0
18208,999002,Jugador Ficticio 2,19,Argentina,84,88,Club Ficticio,42000.0,120.0,Left,2.0,5.0,LW,2024,2027,5.700000,150.0,100000.0

In [13]:
#Nuevas estadísticas con jugadores agregados
estadisticas_actualizadas = df[['Age', 'Overall', 'Potential', 'Value', 'Wage']].agg(['mean', 'min', 'max'])
estadisticas_actualizadas

            Age   Overall  Potential        Value        Wage
mean  25.121698  66.24076  71.309243    2449.3813    9.745071
min   16.000000  46.00000  48.000000      10.0000    0.000000
max   45.000000  94.00000  95.000000  118500.0000  565.000000

In [14]:
#Lambda con zona horaria y capital
def info_pais(pais):
    datos = {
        'Argentina': ('UTC-3', 'Buenos Aires'),
        'Brazil': ('UTC-3', 'Brasilia'),
        'Spain': ('UTC+1', 'Madrid'),
        'Germany': ('UTC+1', 'Berlin'),
        'Mexico': ('UTC-6', 'Mexico City'),
        'France': ('UTC+1', 'Paris'),
        'Belgium': ('UTC+1', 'Brussels'),
        'Portugal': ('UTC+0', 'Lisbon'),
        'England': ('UTC+0', 'London')
    }
    return datos.get(pais, ('Desconocido', 'Desconocida'))

df[['Zona_Horaria', 'Capital']] = df['Nationality'].apply(
    lambda x: pd.Series(info_pais(x))
)

df[['Nationality', 'Zona_Horaria', 'Capital']].head()

  Nationality Zona_Horaria       Capital
0   Argentina        UTC-3  Buenos Aires
1    Portugal        UTC+0        Lisbon
2      Brazil        UTC-3      Brasilia
3       Spain        UTC+1        Madrid
4     Belgium        UTC+1      Brussels

In [16]:
#Lambda para Candidato a balón de oro
df['Balon_de_Oro'] = df['Potential'].apply(
    lambda x: 'Candidato' if x > 85 else 'Next Year'
)

df[['Name', 'Potential', 'Balon_de_Oro']].head(10)

                Name  Potential Balon_de_Oro
0           L. Messi         94    Candidato
1  Cristiano Ronaldo         94    Candidato
2          Neymar Jr         93    Candidato
3             De Gea         93    Candidato
4       K. De Bruyne         92    Candidato
5          E. Hazard         91    Candidato
6          L. Modrić         91    Candidato
7          L. Suárez         91    Candidato
8       Sergio Ramos         91    Candidato
9           J. Oblak         93    Candidato